.topbar{
    background-color: #F7F8FA;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.topbar_col1{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #4D5E80;
    
    font-weight: bold;
}
.topbar_col1_circle{
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.topbar_col1_circle_icon{
    color: gray;
}
 

.topbar_col2{
    display: flex;
    align-items: center;
}
.topbar_col2 ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
 
}
.topbar_col2 li{  
    padding-right: 20px;
}
 

.topbar_col3{
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.topbar_col3 input{
   border: none;
   outline: none;
   padding-top: 10px;
   padding-bottom: 10px;
}
 
 

.topbar_col4{
    display: flex;
    align-items: center;
}


.Leftbar{
    min-height: 100vh;
padding-left: 5px; 
background-color: lightgray;
padding-top: 10px;
display: flex;
flex-direction: column;
justify-content: left;
width: 60px;
margin-right: 10%;

    }

.Leftbar_circle{

    min-width: 50px;
    max-width: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    background-color: white;
    min-height: 50px;
    max-height: 50px;
    border-radius: 30px;
    color: #c3cad9;
    font-size: 1.2rem;
}

.List {

    display: flex;
    flex-direction: column;
    background-color:red;
    justify-content: right;
    padding: 20px 0;
}

.List_r1 {
    display: flex;
    flex-direction: row;
    justify-content: right;

}
.icon{
    margin-left: 25%;

}

.List_r1_a {

    display: flex;
    flex-direction: row;
    padding: 8px;
    justify-content: right;
    /* align-items: center;  */
    background-color: blue;
}

.List_r1_a_circle {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    border: 1px solid gray;
    color: gray;
    width: 30px;
    height: 30px;
}

.List_r1_a_circle label {
    margin-right: 50%;
    color: blueviolet;
}
.List_r1_a button{
    color: gray;
    background-color:white;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
    
    
}

.List_r1_a_circle_icon {
    padding-left: 8px;
}
.label{
    color: gray;
    margin-right: 8%;
    margin-left :8px;
}