.Topbar_header{
   
    background-color: #f3f3f4;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}
.Topbar_icon_circle,
.Topbar_Bell_Circle,
.Topbar_cancel_circle{
    background-color: white;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 10px;
    
}

.Topbar_col1{
    display: flex;
    flex-direction: row;
}
.Topbar_col1 label{
    padding-left: 60px;
    padding-top: 5px;
}
.Topbar_col2 ul{
    display: flex;
    flex-direction: row;
    margin-left: -30px;
}
.Topbar_col2 ul li{
    padding-top: 5px;
    padding-left: 45px;
    padding-right: 25px;
    list-style-type: none;
}
.Topbar_col3{
    width: 280px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-right: 10px;
}
.Topbar_col3 input{
    border: none;
    outline: none;
    font-size:9px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-right: 20px;
    width: 170px;
    
}
.Topbar_searchIcon{
    font-size: 25px;
        margin-right: 20px;
    
}
.Topbar_col4{
    padding-top: 5px;
    margin-left: 20px;
}
.Topbar_profileIcon,
.Topbar_BellIcon,
.Topbar_cancelIcon{
    
    color: rgb(109, 109, 109);
}

.Topbar_profileIcon{
    font-size: 25px;
    font-weight: 50px;
    margin-left: 35px;
    margin-top: 10px;
}
.Topbar_col4 label{
    margin-left: 10px;
    font-weight: 100px;
}
.Topbar_col5{
    padding-top: 3px;
    margin-left: 60px;
    display: flex;
    flex-direction: row;
}
.Topbar_cancel_circle{
    margin-left: 35px;
}

.leftbar {
    min-height: 90vh;
    padding-left: 5px;
    background-color: #f3f3f4;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 60px;
    position: absolute;
    

}

.Content {
    background-color: white;
    height: 100vh;
    padding-top: 1px;

}


.leftbar_whitecircle1,
.leftbar_whitecircle2,
.leftbar_whitecircle3 {
    min-width: 50px;
    max-width: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    background-color: white;
    min-height: 50px;
    max-height: 50px;
    border-radius: 30px;
    color: #c3cad9;
    font-size: 1.2rem;
    align-items: top;
}
.sales_SalesOuter {
    background-color: white;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    margin-left: 60px;
    margin-top: 20px;
   border: 1px solid lightgray;
} 

.sales_SalesInner1,
.sales_SalesInner2,
.sales_SalesInner3 {
    background-color: rgb(245, 241, 241);
    min-width: 290px;
    height: 97%;
    display: flex;
   
    flex-direction: column;
   
}

.sales_Inner1_row1,
.sales_Inner2_row1,
.sales_Inner3_row1 {
    /* background-color: green; */
    padding: 15px;
}

.sales_dropdownicon {
    font-size: large;
}

.sales_Inner1_row1 label {
    color: red;
    margin-left: 5px;
   
}

.sales_Inner_row2 {
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.sales_Inner_row2_row1 {
    padding: 20px;
    display: flex;
    flex-direction: row;
}


.sales_Inner_row2 ul {
    padding: 8px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    list-style-type: none;

}

.sales_Inner_row2 li {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.sales_threedotsicon {
    margin-left: 30px;
}

.sales_eventicon,
.sales_taskicon,
.sales_leadicon {
    padding: 5px;
    font-size: x-large;
    color: rgb(255, 255, 255);
}

.sales_eventicon_outer,
.sales_taskicon_outer,
.sales_leadicon_outer {
    background-color: rgb(43, 173, 43);
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.sales_taskicon_outer {
    background-color: rgb(206, 22, 22);
}

.sales_leadicon_outer {
    background-color: blue;
}

.sales_Inner_row2 label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8px;
}

.sales_Inner_row3 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
}

.sales_Inner_row3 label {
    margin-left: 8px;
}

.sales_Inner_row4 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
}

.sales_Inner2_row1 label {
    color: orangered;
    margin-left: 5px;
    margin-bottom: 10px;
}

.sales_Inner3_row1 label {
    color: green;
    margin-left: 5px;
    margin-bottom: 10px;
}

.Event_Task_Lead_top{
    display: flex;
    flex-direction: row;
}